@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import '../index.css';

.LoginPage{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #BBC3CE;
}
.img_con {
  position: absolute;
}
.LoginPage img {
  padding: 13px;
  height: 120px;
  width: 120px;
}

.container {
  position: absolute;
  background-color: #575E66;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin-top: 4%;
  margin-right: 30%;
  margin-left: 35%;
  padding-bottom: 5%;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.2vw;
  padding-top: 20%;
  color: white;
  margin: 0%;
  margin-bottom: 10%;
}

.inputbox {
  margin-top: 13%;
  font-family: 'Domine', serif;
  align-self: center;
  font-size: 1vw;
  height: 30%;
  width: 80%;
  background-color: #575E66;
  color: white;
  border-width: 0 0 2px;
  border-bottom-color: white;
  opacity:0.7
}


.login {
  cursor: pointer;
  font-family: 'Norwester';
  display: inline-block;
  border-radius: 11px;
  text-align: center;
  padding: 16px 0px;
  background: #32CD32;
  color: white;
  line-height: 1em;
  margin-top: 25%;
  margin-bottom: 11%;
  width: 63%;
  align-self: center;
  font-weight: bold;
  font-size: 1.5vw;
  opacity:0.9;
}

