body
{
    background-color: #222121;
    width: 100vw;
    height: 100vh;
}

.NotFoundPage
{
    margin-left: 14%;
    color: white;
    font-family: 'Norwester';
}

.NotFoundPage h1
{
    font-family: 'Norwester';
    font-size: 3vw;
    text-align: center;
    margin-bottom: -1%;

}
p
{
    font-size: 1.5vw;
    text-align: center;
}
