body
{
    background-color: #222121;
    width: 100vw;
    height: 100vh;
}

.RequestPage
{
    margin-left: 14%;
    color: white;
    font-family: 'Norwester';
}

.RequestPage h1
{
    font-family: 'Norwester';
    font-size: 40px;
    text-align: center;
    margin-bottom: -6px;

}
p
{
    font-size: 20px;
    text-align: center;
}