@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.SongsPage
{
    background-color: #222121;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.ModalPageSong
{
    text-align: center;
    position: fixed;
    display: none;
    left: 0;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto;
    background-color: #d6d1d1; /* Fallback color */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: "Playfair Display";
}

.ModalPageSong .header
{
    padding-top: 5%;
}

.ModalPageSong h4
{
    font-size: 22px;
}
.ModalPageSong .close
{
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 2%;
}

.body
{
    background-color: white;
}
.UploadButton
{
    cursor: pointer;
    background-color: white;
    margin-top: 1.5%;
    margin-right: 3%;
    border-style: none;
    border-radius: 50px;
    height: 3.3vw;
    width: 7vw;
    font-family: "Norwester";
    font-size: 1.2vw;
    float: right;
}

.SongsPage .SearchBar
{
    background-color: white;
    float: right;
    margin-top: 1.5%;
    margin-right: 6%;
    border-style: none;
    border-radius: 50px;
    height: 3.3vw;
    width: 64vw;
    font-size: 1.5vw;
    padding-left: 1%;
    padding-right: 1%;
}

.List
{
    position: sticky;
    margin-top: 8%;
    margin-left: 17%;
    margin-bottom: 10%;
}

.List .row
{
    height: 6.8vw;
    width: 70vw;
    border-radius: 1.3vw;
    list-style-type: none;
    color: white;
    margin-bottom: 5%;
    background-color: #696969;
    display: flex; 
}

.List img
{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.List button
{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline:none;
    height: 1%;
    font-family: "Norwester";
    font-size: 1.2vw;
    margin-top: 3.1%;
    margin-right: 1%;
    color: white;
}


.List p
{
    flex: 120%;
}

.List .audio
{
    margin-top: 2%;
    margin-right: 2%;
    padding-left: 4%;
}

.play
{
    cursor: pointer;
    margin-bottom: 100%;
    font-size: 1.2vw;
}

.stop
{
    cursor: pointer;
    font-size: 1.2vw;
}

.List .title
{
    margin-left: 30px;
    font-family: 'Playfair Display';
    font-size: 1.4vw;
}

.List .musician
{
    font-size: 1.1vw;
}

.List .items
{
    font-size: 1.3vw;
    font-family: 'Playfair Display';
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}