@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.SongsPage
{
    background-color: #222121;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.ModalPage
{
    text-align: center;
    position: fixed;
    display: none;
    left: 0;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto;
    background-color: #d6d1d1; /* Fallback color */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: "Playfair Display";
}

.ModalPage .header
{
    padding-top: 100px;
}

.ModalPage h4
{
    font-size: 20px;
}
.ModalPage .close
{
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 2%;
}
.body
{
    background-color: white;
}
.UploadButton
{
    cursor: pointer;
    background-color: white;
    margin-top: 25px;
    margin-right: 50px;
    border-style: none;
    border-radius: 50px;
    height: 45px;
    width: 110px;
    font-family: "Norwester";
    font-size: 20px;
    float: right;
}

.SearchBar
{
    background-color: white;
    float: right;
    margin-top: 25px;
    margin-right: 80px;
    border-style: none;
    border-radius: 50px;
    height: 45px;
    width: 980px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.List
{
    position: sticky;
    margin-top: 120px;
    margin-left: 260px;
    margin-bottom: 150px;
}

.List .row
{
    height: 100px;
    width: 1100px;
    border-radius: 15px;
    list-style-type: none;
    color: white;
    margin-bottom: 70px;
    background-color: #696969;
    display: flex; 
}

.List img
{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.List button
{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline:none;
    height: 20px;
    font-family: "Norwester";
    font-size: 18px;
    margin-top: 30px;
    margin-right: 10px;
    color: white;
}


.List p
{
    flex: 120%;
}

.List .title
{
    margin-left: 30px;
    font-family: 'Playfair Display';
    font-size: 22px;
}

.List .musician
{
    font-size: 15px;
}

.List .items
{
    font-size: 20px;
    font-family: 'Playfair Display';
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}