@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.UsersPage
{
    background-color: #222121;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.AddButton
{
    cursor: pointer;
    background-color: white;
    margin-top: 25px;
    margin-right: 50px;
    border-style: none;
    border-radius: 50px;
    height: 45px;
    width: 110px;
    font-family: "Norwester";
    font-size: 20px;
    float: right;
}

.SearchBar
{
    background-color: white;
    float: right;
    margin-top: 25px;
    margin-right: 80px;
    border-style: none;
    border-radius: 50px;
    height: 45px;
    width: 980px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.UsersPage table
{
    position: sticky;
    width: 980px;
    background-color: white;
    margin-top: 120px;
    margin-left: 310px;
    margin-bottom: 150px;
    font-family: "Playfair Display";
}

.UsersPage .header
{
    background-color: #CBCBCB;
    font-size: 17px;
    line-height: 40px;
}

.UsersPage .list
{
    font-size: 15px;
    text-align: center;
}

.UsersPage .list td
{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}