@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.UsersPage
{
    background-color: #222121;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.ModalPage
{
    text-align: center;
    position: fixed;
    display: none;
    left: 0;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto;
    background-color: #d6d1d1; /* Fallback color */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: "Playfair Display";
}

.ModalPage .header
{
    padding-top: 100px;
}

.ModalPage h4
{
    font-size: 20px;
}
.ModalPage .close
{
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 2%;
}

.AddButton
{
    cursor: pointer;
    background-color: white;
    margin-top: 1.5%;
    margin-right: 3%;
    border-style: none;
    border-radius: 50px;
    height: 3.3vw;
    width: 7vw;
    font-family: "Norwester";
    font-size: 1.2vw;
    float: right;
}

.UsersPage .SearchBar
{
    background-color: white;
    float: right;
    margin-top: 1.5%;
    margin-right: 6%;
    border-style: none;
    border-radius: 50px;
    height: 3.3vw;
    width: 64vw;
    font-size: 1.5vw;
    padding-left: 1%;
    padding-right: 1%;
}

.UsersPage table
{
    table-layout: fixed;
    position: sticky;
    width: 65vw;
    background-color: white;
    margin-top: 8%;
    margin-left: 20%;
    margin-bottom: 9%;
    font-family: "Playfair Display";
}

.UsersPage .header
{
    background-color: #CBCBCB;
    font-size: 1.1vw;
    line-height: 5vh;
}

.UsersPage .list
{
    cursor: pointer;
    font-size: 1vw;
    text-align: center;
}

.UsersPage .list:hover
{
    background-color: #DBDBDB;
}

.UsersPage .list td
{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}