.DropdownMenu
{
  margin-top: 1.5%;
  margin-right: 2.5%;
  float: right;
}

.DropdownMenu .dropdown
{
  cursor: pointer;
  height: 2.7vw;
  width: 8vw;
  color: white;
  border: #524E4E;
  border-radius: 2vw;
  background-color: #524E4E;
  font-size: 1.3vw;
  font-family: 'Norwester';
}

.DropdownMenu .menu
{
  border-radius: 0.8vw;
  background-color: #524E4E;
  width: 10vw;
  padding-bottom: 0.5%;
}

.DropdownMenu .item
{
  font-size: 1vw;
  color: white;
  text-decoration: none;
  padding-left: 10%;
}

.Downarrow {
  border: solid white;
  border-width: 0vw 0.2vw 0.2vw 0vw;
  display: inline-block;
  padding: 5%;
  margin-bottom: 4%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
