.Sidebar{
    height: 100vh ;
    width: 200px;
    background-color: #6B6B6B;
    position: absolute;
  }
  
  .Sidebar img
  {
    display: block;
    padding: 8px;
    height: 60px;
    margin-bottom: 0;
    
  }
  
  .SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
    margin: 0;
  }
  
  .SidebarList .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Norwester';
    font-size: 20px;
  }
  
  .SidebarList .row:hover{
    background-color: black;
  }
  .row .icon{
    flex: 30%;
    display: grid;
    place-items: center;
  }
  
  .row .title{
    flex: 70%;
  }